.chart {
  height: 65vh;
  position: relative;
  top: 7vh;
  left: -3vw;
  /* overflow: hidden; */
  /* margin-top: 1.5em; */
}

.title {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3em;
  color: #707070;
  z-index: 1;
  /* margin-bottom: 1.5em; */
}
